.btn,.input-group-btn .btn {
    border: none;
    border-radius: 4px;
    position: relative;
    padding: 8px 30px;
    margin: 10px 1px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0;
    text-align: center;
    will-change: box-shadow,transform;
    -webkit-transition: -webkit-box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    -o-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    background: 0 0
}

.btn::-moz-focus-inner,.input-group-btn .btn::-moz-focus-inner {
    border: 0
}

.btn:not(.btn-raised),.input-group-btn .btn:not(.btn-raised) {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn:not(.btn-raised),.btn:not(.btn-raised).btn-default,.input-group-btn .btn:not(.btn-raised),.input-group-btn .btn:not(.btn-raised).btn-default {
    color: rgba(0,0,0,.87)
}

.btn:not(.btn-raised).btn-inverse,.input-group-btn .btn:not(.btn-raised).btn-inverse {
    color: #3f51b5
}

.btn:not(.btn-raised).btn-primary,.input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #03a9f4
}

.btn:not(.btn-raised).btn-secondary,.input-group-btn .btn:not(.btn-raised).btn-secondary {
    color: #e91e63
}

.btn:not(.btn-raised).btn-success,.input-group-btn .btn:not(.btn-raised).btn-success {
    color: #4caf50
}

.btn:not(.btn-raised).btn-info,.input-group-btn .btn:not(.btn-raised).btn-info {
    color: #00bcd4
}

.btn:not(.btn-raised).btn-warning,.input-group-btn .btn:not(.btn-raised).btn-warning {
    color: #ff5722
}

.btn:not(.btn-raised).btn-danger,.input-group-btn .btn:not(.btn-raised).btn-danger {
    color: #f44336
}

.btn:not(.btn-raised).btn-facebook,.input-group-btn .btn:not(.btn-raised).btn-facebook {
    color: #3b5998
}

.btn:not(.btn-raised).btn-twitter,.input-group-btn .btn:not(.btn-raised).btn-twitter {
    color: #55acee
}

.btn:not(.btn-raised).btn-instagram,.input-group-btn .btn:not(.btn-raised).btn-instagram {
    color: #3f729b
}

.btn:not(.btn-raised).btn-youtube,.input-group-btn .btn:not(.btn-raised).btn-youtube {
    color: #cd201f
}

.btn:not(.btn-raised).btn-pinterest,.input-group-btn .btn:not(.btn-raised).btn-pinterest {
    color: #cc2127
}

.btn:not(.btn-raised).btn-linkedin,.input-group-btn .btn:not(.btn-raised).btn-linkedin {
    color: #0077b5
}

.btn:not(.btn-raised).btn-google,.input-group-btn .btn:not(.btn-raised).btn-google {
    color: #d34836
}

.btn:not(.btn-raised).btn-yahoo,.input-group-btn .btn:not(.btn-raised).btn-yahoo {
    color: #400191
}

.btn:not(.btn-raised).btn-whatsapp,.input-group-btn .btn:not(.btn-raised).btn-whatsapp {
    color: #25d366
}

.btn:not(.btn-raised):not(.btn-link):focus,.btn:not(.btn-raised):not(.btn-link):hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link):focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link):hover {
    background-color: rgba(153,153,153,.2)
}

.btn:not(.btn-raised):not(.btn-link).btn-primary-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-primary-outline {
    color: var(--brand-primary);
    border: 1px solid var(--brand-primary);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-primary-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-primary-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-primary-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-primary-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-primary-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-primary-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-primary)
}

.btn:not(.btn-raised):not(.btn-link).btn-secondary-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-secondary-outline {
    color: var(--brand-secondary);
    border: 1px solid var(--brand-secondary);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-secondary-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-secondary-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-secondary-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-secondary-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-secondary-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-secondary-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-secondary)
}

.btn:not(.btn-raised):not(.btn-link).btn-success-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-success-outline {
    color: var(--brand-success);
    border: 1px solid var(--brand-success);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-success-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-success-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-success-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-success-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-success-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-success-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-success)
}

.btn:not(.btn-raised):not(.btn-link).btn-danger-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-danger-outline {
    color: var(--brand-danger);
    border: 1px solid var(--brand-danger);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-danger-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-danger-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-danger-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-danger-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-danger-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-danger-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-danger)
}

.btn:not(.btn-raised):not(.btn-link).btn-warning-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-warning-outline {
    color: var(--brand-warning);
    border: 1px solid var(--brand-warning);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-warning-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-warning-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-warning-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-warning-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-warning-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-warning-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-warning)
}

.btn:not(.btn-raised):not(.btn-link).btn-info-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-info-outline {
    color: var(--brand-info);
    border: 1px solid var(--brand-info);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-info-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-info-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-info-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-info-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-info-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-info-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-info)
}

.btn:not(.btn-raised):not(.btn-link).btn-default-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-default-outline {
    color: var(--brand-default);
    border: 1px solid var(--brand-default);
    background-color: transparent
}

.btn:not(.btn-raised):not(.btn-link).btn-default-outline.active,.btn:not(.btn-raised):not(.btn-link).btn-default-outline:focus,.btn:not(.btn-raised):not(.btn-link).btn-default-outline:hover,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-default-outline.active,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-default-outline:focus,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-default-outline:hover {
    color: rgba(255,255,255,1);
    border-color: transparent;
    background-color: var(--brand-default)
}

.btn:not(.btn-raised):not(.btn-link).btn-default-outline,.input-group-btn .btn:not(.btn-raised):not(.btn-link).btn-default-outline {
    color: rgba(0,0,0,.87)
}

.btn-group-raised .btn,.btn-group-raised .btn.btn-default,.btn-group-raised .input-group-btn .btn,.btn-group-raised .input-group-btn .btn.btn-default,.btn.btn-fab,.btn.btn-fab.btn-default,.btn.btn-raised,.btn.btn-raised.btn-default,.input-group-btn .btn.btn-fab,.input-group-btn .btn.btn-fab.btn-default,.input-group-btn .btn.btn-raised,.input-group-btn .btn.btn-raised.btn-default {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.87)
}

.btn-group-raised .btn.btn-inverse,.btn-group-raised .input-group-btn .btn.btn-inverse,.btn.btn-fab.btn-inverse,.btn.btn-raised.btn-inverse,.input-group-btn .btn.btn-fab.btn-inverse,.input-group-btn .btn.btn-raised.btn-inverse {
    background-color: #3f51b5;
    color: #fff
}

.btn-group-raised .btn.btn-primary,.btn-group-raised .input-group-btn .btn.btn-primary,.btn.btn-fab.btn-primary,.btn.btn-raised.btn-primary,.input-group-btn .btn.btn-fab.btn-primary,.input-group-btn .btn.btn-raised.btn-primary {
    background-color: #03a9f4;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-secondary,.btn-group-raised .input-group-btn .btn.btn-secondary,.btn.btn-fab.btn-secondary,.btn.btn-raised.btn-secondary,.input-group-btn .btn.btn-fab.btn-secondary,.input-group-btn .btn.btn-raised.btn-secondary {
    background-color: #e91e63;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-success,.btn-group-raised .input-group-btn .btn.btn-success,.btn.btn-fab.btn-success,.btn.btn-raised.btn-success,.input-group-btn .btn.btn-fab.btn-success,.input-group-btn .btn.btn-raised.btn-success {
    background-color: #4caf50;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-info,.btn-group-raised .input-group-btn .btn.btn-info,.btn.btn-fab.btn-info,.btn.btn-raised.btn-info,.input-group-btn .btn.btn-fab.btn-info,.input-group-btn .btn.btn-raised.btn-info {
    background-color: #00bcd4;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-warning,.btn-group-raised .input-group-btn .btn.btn-warning,.btn.btn-fab.btn-warning,.btn.btn-raised.btn-warning,.input-group-btn .btn.btn-fab.btn-warning,.input-group-btn .btn.btn-raised.btn-warning {
    background-color: #ff5722;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-danger,.btn-group-raised .input-group-btn .btn.btn-danger,.btn.btn-fab.btn-danger,.btn.btn-raised.btn-danger,.input-group-btn .btn.btn-fab.btn-danger,.input-group-btn .btn.btn-raised.btn-danger {
    background-color: #f44336;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-facebook,.btn-group-raised .input-group-btn .btn.btn-facebook,.btn.btn-fab.btn-facebook,.btn.btn-raised.btn-facebook,.input-group-btn .btn.btn-fab.btn-facebook,.input-group-btn .btn.btn-raised.btn-facebook {
    background-color: #3b5998;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-twitter,.btn-group-raised .input-group-btn .btn.btn-twitter,.btn.btn-fab.btn-twitter,.btn.btn-raised.btn-twitter,.input-group-btn .btn.btn-fab.btn-twitter,.input-group-btn .btn.btn-raised.btn-twitter {
    background-color: #55acee;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-instagram,.btn-group-raised .input-group-btn .btn.btn-instagram,.btn.btn-fab.btn-instagram,.btn.btn-raised.btn-instagram,.input-group-btn .btn.btn-fab.btn-instagram,.input-group-btn .btn.btn-raised.btn-instagram {
    background-color: #3f729b;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-youtube,.btn-group-raised .input-group-btn .btn.btn-youtube,.btn.btn-fab.btn-youtube,.btn.btn-raised.btn-youtube,.input-group-btn .btn.btn-fab.btn-youtube,.input-group-btn .btn.btn-raised.btn-youtube {
    background-color: #cd201f;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-pinterest,.btn-group-raised .input-group-btn .btn.btn-pinterest,.btn.btn-fab.btn-pinterest,.btn.btn-raised.btn-pinterest,.input-group-btn .btn.btn-fab.btn-pinterest,.input-group-btn .btn.btn-raised.btn-pinterest {
    background-color: #cc2127;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-linkedin,.btn-group-raised .input-group-btn .btn.btn-linkedin,.btn.btn-fab.btn-linkedin,.btn.btn-raised.btn-linkedin,.input-group-btn .btn.btn-fab.btn-linkedin,.input-group-btn .btn.btn-raised.btn-linkedin {
    background-color: #0077b5;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-google,.btn-group-raised .input-group-btn .btn.btn-google,.btn.btn-fab.btn-google,.btn.btn-raised.btn-google,.input-group-btn .btn.btn-fab.btn-google,.input-group-btn .btn.btn-raised.btn-google {
    background-color: #d34836;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-yahoo,.btn-group-raised .input-group-btn .btn.btn-yahoo,.btn.btn-fab.btn-yahoo,.btn.btn-raised.btn-yahoo,.input-group-btn .btn.btn-fab.btn-yahoo,.input-group-btn .btn.btn-raised.btn-yahoo {
    background-color: #400191;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn.btn-whatsapp,.btn-group-raised .input-group-btn .btn.btn-whatsapp,.btn.btn-fab.btn-whatsapp,.btn.btn-raised.btn-whatsapp,.input-group-btn .btn.btn-fab.btn-whatsapp,.input-group-btn .btn.btn-raised.btn-whatsapp {
    background-color: #25d366;
    color: rgba(255,255,255,1)
}

.btn-group-raised .btn:not(.btn-link).active,.btn-group-raised .btn:not(.btn-link):active,.btn-group-raised .btn:not(.btn-link):focus,.btn-group-raised .btn:not(.btn-link):hover,.btn-group-raised .input-group-btn .btn:not(.btn-link).active,.btn-group-raised .input-group-btn .btn:not(.btn-link):active,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover,.btn.btn-raised:not(.btn-link).active,.btn.btn-raised:not(.btn-link):active,.btn.btn-raised:not(.btn-link):focus,.btn.btn-raised:not(.btn-link):hover,.input-group-btn .btn.btn-raised:not(.btn-link).active,.input-group-btn .btn.btn-raised:not(.btn-link):active,.input-group-btn .btn.btn-raised:not(.btn-link):focus,.input-group-btn .btn.btn-raised:not(.btn-link):hover {
    outline: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}

.btn-group-raised .btn:not(.btn-link).active,.btn-group-raised .btn:not(.btn-link).active.btn-default,.btn-group-raised .btn:not(.btn-link):active,.btn-group-raised .btn:not(.btn-link):active.btn-default,.btn-group-raised .btn:not(.btn-link):focus,.btn-group-raised .btn:not(.btn-link):focus.btn-default,.btn-group-raised .btn:not(.btn-link):hover,.btn-group-raised .btn:not(.btn-link):hover.btn-default,.btn-group-raised .input-group-btn .btn:not(.btn-link).active,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-default,.btn-group-raised .input-group-btn .btn:not(.btn-link):active,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-default,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-default,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-default,.btn.btn-raised:not(.btn-link).active,.btn.btn-raised:not(.btn-link).active.btn-default,.btn.btn-raised:not(.btn-link):active,.btn.btn-raised:not(.btn-link):active.btn-default,.btn.btn-raised:not(.btn-link):focus,.btn.btn-raised:not(.btn-link):focus.btn-default,.btn.btn-raised:not(.btn-link):hover,.btn.btn-raised:not(.btn-link):hover.btn-default,.input-group-btn .btn.btn-raised:not(.btn-link).active,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-default,.input-group-btn .btn.btn-raised:not(.btn-link):active,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-default,.input-group-btn .btn.btn-raised:not(.btn-link):focus,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-default,.input-group-btn .btn.btn-raised:not(.btn-link):hover,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-default {
    background-color: #e8e8e8
}

.btn-group-raised .btn:not(.btn-link).active.btn-inverse,.btn-group-raised .btn:not(.btn-link):active.btn-inverse,.btn-group-raised .btn:not(.btn-link):focus.btn-inverse,.btn-group-raised .btn:not(.btn-link):hover.btn-inverse,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-inverse,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-inverse,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-inverse,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-inverse,.btn.btn-raised:not(.btn-link).active.btn-inverse,.btn.btn-raised:not(.btn-link):active.btn-inverse,.btn.btn-raised:not(.btn-link):focus.btn-inverse,.btn.btn-raised:not(.btn-link):hover.btn-inverse,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-inverse,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-inverse,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-inverse,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-inverse {
    background-color: #495bc0
}

.btn-group-raised .btn:not(.btn-link).active.btn-primary,.btn-group-raised .btn:not(.btn-link):active.btn-primary,.btn-group-raised .btn:not(.btn-link):focus.btn-primary,.btn-group-raised .btn:not(.btn-link):hover.btn-primary,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-primary,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-primary,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-primary,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-primary,.btn.btn-raised:not(.btn-link).active.btn-primary,.btn.btn-raised:not(.btn-link):active.btn-primary,.btn.btn-raised:not(.btn-link):focus.btn-primary,.btn.btn-raised:not(.btn-link):hover.btn-primary,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-primary,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-primary,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-primary,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-primary {
    background-color: #0fb2fc
}

.btn-group-raised .btn:not(.btn-link).active.btn-secondary,.btn-group-raised .btn:not(.btn-link):active.btn-secondary,.btn-group-raised .btn:not(.btn-link):focus.btn-secondary,.btn-group-raised .btn:not(.btn-link):hover.btn-secondary,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-secondary,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-secondary,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-secondary,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-secondary,.btn.btn-raised:not(.btn-link).active.btn-secondary,.btn.btn-raised:not(.btn-link):active.btn-secondary,.btn.btn-raised:not(.btn-link):focus.btn-secondary,.btn.btn-raised:not(.btn-link):hover.btn-secondary,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-secondary,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-secondary,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-secondary,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-secondary {
    background-color: #eb3170
}

.btn-group-raised .btn:not(.btn-link).active.btn-success,.btn-group-raised .btn:not(.btn-link):active.btn-success,.btn-group-raised .btn:not(.btn-link):focus.btn-success,.btn-group-raised .btn:not(.btn-link):hover.btn-success,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-success,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-success,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-success,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-success,.btn.btn-raised:not(.btn-link).active.btn-success,.btn.btn-raised:not(.btn-link):active.btn-success,.btn.btn-raised:not(.btn-link):focus.btn-success,.btn.btn-raised:not(.btn-link):hover.btn-success,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-success,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-success,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-success,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-success {
    background-color: #59b75c
}

.btn-group-raised .btn:not(.btn-link).active.btn-info,.btn-group-raised .btn:not(.btn-link):active.btn-info,.btn-group-raised .btn:not(.btn-link):focus.btn-info,.btn-group-raised .btn:not(.btn-link):hover.btn-info,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-info,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-info,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-info,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-info,.btn.btn-raised:not(.btn-link).active.btn-info,.btn.btn-raised:not(.btn-link):active.btn-info,.btn.btn-raised:not(.btn-link):focus.btn-info,.btn.btn-raised:not(.btn-link):hover.btn-info,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-info,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-info,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-info,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-info {
    background-color: #00aac0
}

.btn-group-raised .btn:not(.btn-link).active.btn-warning,.btn-group-raised .btn:not(.btn-link):active.btn-warning,.btn-group-raised .btn:not(.btn-link):focus.btn-warning,.btn-group-raised .btn:not(.btn-link):hover.btn-warning,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-warning,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-warning,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-warning,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-warning,.btn.btn-raised:not(.btn-link).active.btn-warning,.btn.btn-raised:not(.btn-link):active.btn-warning,.btn.btn-raised:not(.btn-link):focus.btn-warning,.btn.btn-raised:not(.btn-link):hover.btn-warning,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-warning,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-warning,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-warning,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-warning {
    background-color: #ff6736
}

.btn-group-raised .btn:not(.btn-link).active.btn-danger,.btn-group-raised .btn:not(.btn-link):active.btn-danger,.btn-group-raised .btn:not(.btn-link):focus.btn-danger,.btn-group-raised .btn:not(.btn-link):hover.btn-danger,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-danger,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-danger,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-danger,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-danger,.btn.btn-raised:not(.btn-link).active.btn-danger,.btn.btn-raised:not(.btn-link):active.btn-danger,.btn.btn-raised:not(.btn-link):focus.btn-danger,.btn.btn-raised:not(.btn-link):hover.btn-danger,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-danger,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-danger,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-danger,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-danger {
    background-color: #f55549
}

.btn-group-raised .btn:not(.btn-link).active.btn-facebook,.btn-group-raised .btn:not(.btn-link):active.btn-facebook,.btn-group-raised .btn:not(.btn-link):focus.btn-facebook,.btn-group-raised .btn:not(.btn-link):hover.btn-facebook,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-facebook,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-facebook,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-facebook,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-facebook,.btn.btn-raised:not(.btn-link).active.btn-facebook,.btn.btn-raised:not(.btn-link):active.btn-facebook,.btn.btn-raised:not(.btn-link):focus.btn-facebook,.btn.btn-raised:not(.btn-link):hover.btn-facebook,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-facebook,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-facebook,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-facebook,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-facebook {
    background-color: #4162a7
}

.btn-group-raised .btn:not(.btn-link).active.btn-twitter,.btn-group-raised .btn:not(.btn-link):active.btn-twitter,.btn-group-raised .btn:not(.btn-link):focus.btn-twitter,.btn-group-raised .btn:not(.btn-link):hover.btn-twitter,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-twitter,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-twitter,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-twitter,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-twitter,.btn.btn-raised:not(.btn-link).active.btn-twitter,.btn.btn-raised:not(.btn-link):active.btn-twitter,.btn.btn-raised:not(.btn-link):focus.btn-twitter,.btn.btn-raised:not(.btn-link):hover.btn-twitter,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-twitter,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-twitter,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-twitter,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-twitter {
    background-color: #68b5f0
}

.btn-group-raised .btn:not(.btn-link).active.btn-instagram,.btn-group-raised .btn:not(.btn-link):active.btn-instagram,.btn-group-raised .btn:not(.btn-link):focus.btn-instagram,.btn-group-raised .btn:not(.btn-link):hover.btn-instagram,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-instagram,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-instagram,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-instagram,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-instagram,.btn.btn-raised:not(.btn-link).active.btn-instagram,.btn.btn-raised:not(.btn-link):active.btn-instagram,.btn.btn-raised:not(.btn-link):focus.btn-instagram,.btn.btn-raised:not(.btn-link):hover.btn-instagram,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-instagram,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-instagram,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-instagram,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-instagram {
    background-color: #457daa
}

.btn-group-raised .btn:not(.btn-link).active.btn-youtube,.btn-group-raised .btn:not(.btn-link):active.btn-youtube,.btn-group-raised .btn:not(.btn-link):focus.btn-youtube,.btn-group-raised .btn:not(.btn-link):hover.btn-youtube,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-youtube,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-youtube,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-youtube,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-youtube,.btn.btn-raised:not(.btn-link).active.btn-youtube,.btn.btn-raised:not(.btn-link):active.btn-youtube,.btn.btn-raised:not(.btn-link):focus.btn-youtube,.btn.btn-raised:not(.btn-link):hover.btn-youtube,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-youtube,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-youtube,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-youtube,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-youtube {
    background-color: #de2423
}

.btn-group-raised .btn:not(.btn-link).active.btn-pinterest,.btn-group-raised .btn:not(.btn-link):active.btn-pinterest,.btn-group-raised .btn:not(.btn-link):focus.btn-pinterest,.btn-group-raised .btn:not(.btn-link):hover.btn-pinterest,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-pinterest,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-pinterest,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-pinterest,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-pinterest,.btn.btn-raised:not(.btn-link).active.btn-pinterest,.btn.btn-raised:not(.btn-link):active.btn-pinterest,.btn.btn-raised:not(.btn-link):focus.btn-pinterest,.btn.btn-raised:not(.btn-link):hover.btn-pinterest,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-pinterest,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-pinterest,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-pinterest,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-pinterest {
    background-color: #dc262c
}

.btn-group-raised .btn:not(.btn-link).active.btn-linkedin,.btn-group-raised .btn:not(.btn-link):active.btn-linkedin,.btn-group-raised .btn:not(.btn-link):focus.btn-linkedin,.btn-group-raised .btn:not(.btn-link):hover.btn-linkedin,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-linkedin,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-linkedin,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-linkedin,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-linkedin,.btn.btn-raised:not(.btn-link).active.btn-linkedin,.btn.btn-raised:not(.btn-link):active.btn-linkedin,.btn.btn-raised:not(.btn-link):focus.btn-linkedin,.btn.btn-raised:not(.btn-link):hover.btn-linkedin,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-linkedin,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-linkedin,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-linkedin,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-linkedin {
    background-color: #0084c9
}

.btn-group-raised .btn:not(.btn-link).active.btn-google,.btn-group-raised .btn:not(.btn-link):active.btn-google,.btn-group-raised .btn:not(.btn-link):focus.btn-google,.btn-group-raised .btn:not(.btn-link):hover.btn-google,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-google,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-google,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-google,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-google,.btn.btn-raised:not(.btn-link).active.btn-google,.btn.btn-raised:not(.btn-link):active.btn-google,.btn.btn-raised:not(.btn-link):focus.btn-google,.btn.btn-raised:not(.btn-link):hover.btn-google,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-google,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-google,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-google,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-google {
    background-color: #d75747
}

.btn-group-raised .btn:not(.btn-link).active.btn-yahoo,.btn-group-raised .btn:not(.btn-link):active.btn-yahoo,.btn-group-raised .btn:not(.btn-link):focus.btn-yahoo,.btn-group-raised .btn:not(.btn-link):hover.btn-yahoo,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-yahoo,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-yahoo,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-yahoo,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-yahoo,.btn.btn-raised:not(.btn-link).active.btn-yahoo,.btn.btn-raised:not(.btn-link):active.btn-yahoo,.btn.btn-raised:not(.btn-link):focus.btn-yahoo,.btn.btn-raised:not(.btn-link):hover.btn-yahoo,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-yahoo,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-yahoo,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-yahoo,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-yahoo {
    background-color: #4901a5
}

.btn-group-raised .btn:not(.btn-link).active.btn-whatsapp,.btn-group-raised .btn:not(.btn-link):active.btn-whatsapp,.btn-group-raised .btn:not(.btn-link):focus.btn-whatsapp,.btn-group-raised .btn:not(.btn-link):hover.btn-whatsapp,.btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-whatsapp,.btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-whatsapp,.btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-whatsapp,.btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-whatsapp,.btn.btn-raised:not(.btn-link).active.btn-whatsapp,.btn.btn-raised:not(.btn-link):active.btn-whatsapp,.btn.btn-raised:not(.btn-link):focus.btn-whatsapp,.btn.btn-raised:not(.btn-link):hover.btn-whatsapp,.input-group-btn .btn.btn-raised:not(.btn-link).active.btn-whatsapp,.input-group-btn .btn.btn-raised:not(.btn-link):active.btn-whatsapp,.input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-whatsapp,.input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-whatsapp {
    background-color: #22c25e
}

.btn.btn-fab,.input-group-btn .btn.btn-fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    position: relative;
    line-height: normal
}

.btn.btn-fab .ripple-container,.input-group-btn .btn.btn-fab .ripple-container {
    border-radius: 50%
}

.btn-group-sm .btn.btn-fab,.btn-group-sm .input-group-btn .btn.btn-fab,.btn.btn-fab.btn-fab-mini,.input-group-btn .btn.btn-fab.btn-fab-mini {
    height: 40px;
    min-width: 40px;
    width: 40px;
    padding: 0;
    font-size: 17px
}

.btn-group-sm .btn.btn-fab.material-icons,.btn-group-sm .input-group-btn .btn.btn-fab.material-icons,.btn.btn-fab.btn-fab-mini.material-icons,.input-group-btn .btn.btn-fab.btn-fab-mini.material-icons {
    top: 0;
    left: 0
}

.btn.btn-fab.btn-fab-xs,.input-group-btn .btn.btn-fab.btn-fab-xs {
    min-width: 14px;
    width: 14px;
    height: 14px;
    padding: 7px;
    font-size: 15px;
    line-height: 1
}

.btn.btn-fab.btn-fab-xs.material-icons,.input-group-btn .btn.btn-fab.btn-fab-xs.material-icons {
    top: 7.5px;
    left: 7.5px
}

.btn.btn-fab.btn-fab-sm,.input-group-btn .btn.btn-fab.btn-fab-sm {
    min-width: 20px;
    width: 20px;
    height: 20px;
    padding: 15px;
    font-size: 24px;
    line-height: 24px
}

.btn.btn-fab.btn-fab-sm.material-icons,.input-group-btn .btn.btn-fab.btn-fab-sm.material-icons {
    top: 50%;
    left: 50%
}

.btn.btn-fab i.fa,.btn.btn-fab i.icon,.btn.btn-fab i.material-icons,.input-group-btn .btn.btn-fab i.fa,.input-group-btn .btn.btn-fab i.icon,.input-group-btn .btn.btn-fab i.material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    -ms-transform: translate(-12px,-12px);
    -o-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px
}

.btn i.fa,.btn i.icon,.btn i.material-icons,.input-group-btn .btn i.fa,.input-group-btn .btn i.icon,.input-group-btn .btn i.material-icons {
    vertical-align: middle;
    font-size: 1em;
    top: -1px;
    position: relative
}

.btn i.icon-left,.input-group-btn .btn i.icon-left {
    margin-right: 10px
}

.btn i.icon-right,.input-group-btn .btn i.icon-right {
    margin-left: 10px
}

.btn.btn,.btnbtn-group .btn,.btnbtn-group .input-group-btn .btn,.input-group-btn .btn.btn,.input-group-btn .btnbtn-group .btn,.input-group-btn .btnbtn-group .input-group-btn .btn {
    padding: 10px 28px
}

.btn-group-xl .btn,.btn-group-xl .input-group-btn .btn,.btn.btn-xl,.input-group-btn .btn.btn-xl {
    padding: 24px 54px;
    font-size: 20px
}

.btn-group-lg .btn,.btn-group-lg .input-group-btn .btn,.btn.btn-lg,.input-group-btn .btn.btn-lg {
    padding: 16px 36px;
    font-size: 16px
}

.btn-group-sm .btn,.btn-group-sm .input-group-btn .btn,.btn.btn-sm,.input-group-btn .btn.btn-sm {
    padding: 5px 20px;
    font-size: 12px
}

.btn-group-xs .btn,.btn-group-xs .input-group-btn .btn,.btn.btn-xs,.input-group-btn .btn.btn-xs {
    padding: 4px 15px;
    font-size: 10px
}

.btn-group.btn-group-raised.btn-splitter .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0
}

.btn-group.btn-group-raised.btn-splitter .btn:active,.btn-group.btn-group-raised.btn-splitter .btn:focus,.btn-group.btn-group-raised.btn-splitter .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0
}

.btn-group.btn-group-raised.btn-splitter .btn-more {
    padding: 10px 7px;
    border-left: 1px solid rgba(0,0,0,.15)
}

.btn-group-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border: 1px solid #eee;
    border-radius: 8px
}

.btn-group-flex .btn {
    margin: 0
}

.btn-group-flex button {
    border-left: 1px solid #eee
}

.btn-group-flex button:hover {
    border-color: transparent
}

.btn.more-btn {
    padding: 6px!important;
    margin: -6px 0!important;
    font-size: 20px!important;
    line-height: 1em!important;
    border-radius: 50%!important
}

.btn-group-vertical.disabled,.btn-group-vertical:disabled,.btn-group-vertical[disabled][disabled],.btn-group.disabled,.btn-group:disabled,.btn-group[disabled][disabled],.btn.disabled,.btn:disabled,.btn[disabled][disabled],.input-group-btn .btn.disabled,.input-group-btn .btn:disabled,.input-group-btn .btn[disabled][disabled],fieldset[disabled][disabled] .btn,fieldset[disabled][disabled] .btn-group,fieldset[disabled][disabled] .btn-group-vertical,fieldset[disabled][disabled] .input-group-btn .btn {
    color: rgba(0,0,0,.26);
    background: 0 0
}

.theme-dark .btn-group-vertical.disabled,.theme-dark .btn-group-vertical:disabled,.theme-dark .btn-group-vertical[disabled][disabled],.theme-dark .btn-group.disabled,.theme-dark .btn-group:disabled,.theme-dark .btn-group[disabled][disabled],.theme-dark .btn.disabled,.theme-dark .btn:disabled,.theme-dark .btn[disabled][disabled],.theme-dark .input-group-btn .btn.disabled,.theme-dark .input-group-btn .btn:disabled,.theme-dark .input-group-btn .btn[disabled][disabled],.theme-dark fieldset[disabled][disabled] .btn,.theme-dark fieldset[disabled][disabled] .btn-group,.theme-dark fieldset[disabled][disabled] .btn-group-vertical,.theme-dark fieldset[disabled][disabled] .input-group-btn .btn {
    color: rgba(255,255,255,.3)
}

.btn-group-vertical.disabled.btn-group-raised,.btn-group-vertical.disabled.btn-group-raised.active,.btn-group-vertical.disabled.btn-group-raised:active,.btn-group-vertical.disabled.btn-group-raised:focus:not(:active),.btn-group-vertical.disabled.btn-raised,.btn-group-vertical.disabled.btn-raised.active,.btn-group-vertical.disabled.btn-raised:active,.btn-group-vertical.disabled.btn-raised:focus:not(:active),.btn-group-vertical:disabled.btn-group-raised,.btn-group-vertical:disabled.btn-group-raised.active,.btn-group-vertical:disabled.btn-group-raised:active,.btn-group-vertical:disabled.btn-group-raised:focus:not(:active),.btn-group-vertical:disabled.btn-raised,.btn-group-vertical:disabled.btn-raised.active,.btn-group-vertical:disabled.btn-raised:active,.btn-group-vertical:disabled.btn-raised:focus:not(:active),.btn-group-vertical[disabled][disabled].btn-group-raised,.btn-group-vertical[disabled][disabled].btn-group-raised.active,.btn-group-vertical[disabled][disabled].btn-group-raised:active,.btn-group-vertical[disabled][disabled].btn-group-raised:focus:not(:active),.btn-group-vertical[disabled][disabled].btn-raised,.btn-group-vertical[disabled][disabled].btn-raised.active,.btn-group-vertical[disabled][disabled].btn-raised:active,.btn-group-vertical[disabled][disabled].btn-raised:focus:not(:active),.btn-group.disabled.btn-group-raised,.btn-group.disabled.btn-group-raised.active,.btn-group.disabled.btn-group-raised:active,.btn-group.disabled.btn-group-raised:focus:not(:active),.btn-group.disabled.btn-raised,.btn-group.disabled.btn-raised.active,.btn-group.disabled.btn-raised:active,.btn-group.disabled.btn-raised:focus:not(:active),.btn-group:disabled.btn-group-raised,.btn-group:disabled.btn-group-raised.active,.btn-group:disabled.btn-group-raised:active,.btn-group:disabled.btn-group-raised:focus:not(:active),.btn-group:disabled.btn-raised,.btn-group:disabled.btn-raised.active,.btn-group:disabled.btn-raised:active,.btn-group:disabled.btn-raised:focus:not(:active),.btn-group[disabled][disabled].btn-group-raised,.btn-group[disabled][disabled].btn-group-raised.active,.btn-group[disabled][disabled].btn-group-raised:active,.btn-group[disabled][disabled].btn-group-raised:focus:not(:active),.btn-group[disabled][disabled].btn-raised,.btn-group[disabled][disabled].btn-raised.active,.btn-group[disabled][disabled].btn-raised:active,.btn-group[disabled][disabled].btn-raised:focus:not(:active),.btn.disabled.btn-group-raised,.btn.disabled.btn-group-raised.active,.btn.disabled.btn-group-raised:active,.btn.disabled.btn-group-raised:focus:not(:active),.btn.disabled.btn-raised,.btn.disabled.btn-raised.active,.btn.disabled.btn-raised:active,.btn.disabled.btn-raised:focus:not(:active),.btn:disabled.btn-group-raised,.btn:disabled.btn-group-raised.active,.btn:disabled.btn-group-raised:active,.btn:disabled.btn-group-raised:focus:not(:active),.btn:disabled.btn-raised,.btn:disabled.btn-raised.active,.btn:disabled.btn-raised:active,.btn:disabled.btn-raised:focus:not(:active),.btn[disabled][disabled].btn-group-raised,.btn[disabled][disabled].btn-group-raised.active,.btn[disabled][disabled].btn-group-raised:active,.btn[disabled][disabled].btn-group-raised:focus:not(:active),.btn[disabled][disabled].btn-raised,.btn[disabled][disabled].btn-raised.active,.btn[disabled][disabled].btn-raised:active,.btn[disabled][disabled].btn-raised:focus:not(:active),.input-group-btn .btn.disabled.btn-group-raised,.input-group-btn .btn.disabled.btn-group-raised.active,.input-group-btn .btn.disabled.btn-group-raised:active,.input-group-btn .btn.disabled.btn-group-raised:focus:not(:active),.input-group-btn .btn.disabled.btn-raised,.input-group-btn .btn.disabled.btn-raised.active,.input-group-btn .btn.disabled.btn-raised:active,.input-group-btn .btn.disabled.btn-raised:focus:not(:active),.input-group-btn .btn:disabled.btn-group-raised,.input-group-btn .btn:disabled.btn-group-raised.active,.input-group-btn .btn:disabled.btn-group-raised:active,.input-group-btn .btn:disabled.btn-group-raised:focus:not(:active),.input-group-btn .btn:disabled.btn-raised,.input-group-btn .btn:disabled.btn-raised.active,.input-group-btn .btn:disabled.btn-raised:active,.input-group-btn .btn:disabled.btn-raised:focus:not(:active),.input-group-btn .btn[disabled][disabled].btn-group-raised,.input-group-btn .btn[disabled][disabled].btn-group-raised.active,.input-group-btn .btn[disabled][disabled].btn-group-raised:active,.input-group-btn .btn[disabled][disabled].btn-group-raised:focus:not(:active),.input-group-btn .btn[disabled][disabled].btn-raised,.input-group-btn .btn[disabled][disabled].btn-raised.active,.input-group-btn .btn[disabled][disabled].btn-raised:active,.input-group-btn .btn[disabled][disabled].btn-raised:focus:not(:active),fieldset[disabled][disabled] .btn-group-vertical.btn-group-raised,fieldset[disabled][disabled] .btn-group-vertical.btn-group-raised.active,fieldset[disabled][disabled] .btn-group-vertical.btn-group-raised:active,fieldset[disabled][disabled] .btn-group-vertical.btn-group-raised:focus:not(:active),fieldset[disabled][disabled] .btn-group-vertical.btn-raised,fieldset[disabled][disabled] .btn-group-vertical.btn-raised.active,fieldset[disabled][disabled] .btn-group-vertical.btn-raised:active,fieldset[disabled][disabled] .btn-group-vertical.btn-raised:focus:not(:active),fieldset[disabled][disabled] .btn-group.btn-group-raised,fieldset[disabled][disabled] .btn-group.btn-group-raised.active,fieldset[disabled][disabled] .btn-group.btn-group-raised:active,fieldset[disabled][disabled] .btn-group.btn-group-raised:focus:not(:active),fieldset[disabled][disabled] .btn-group.btn-raised,fieldset[disabled][disabled] .btn-group.btn-raised.active,fieldset[disabled][disabled] .btn-group.btn-raised:active,fieldset[disabled][disabled] .btn-group.btn-raised:focus:not(:active),fieldset[disabled][disabled] .btn.btn-group-raised,fieldset[disabled][disabled] .btn.btn-group-raised.active,fieldset[disabled][disabled] .btn.btn-group-raised:active,fieldset[disabled][disabled] .btn.btn-group-raised:focus:not(:active),fieldset[disabled][disabled] .btn.btn-raised,fieldset[disabled][disabled] .btn.btn-raised.active,fieldset[disabled][disabled] .btn.btn-raised:active,fieldset[disabled][disabled] .btn.btn-raised:focus:not(:active),fieldset[disabled][disabled] .input-group-btn .btn.btn-group-raised,fieldset[disabled][disabled] .input-group-btn .btn.btn-group-raised.active,fieldset[disabled][disabled] .input-group-btn .btn.btn-group-raised:active,fieldset[disabled][disabled] .input-group-btn .btn.btn-group-raised:focus:not(:active),fieldset[disabled][disabled] .input-group-btn .btn.btn-raised,fieldset[disabled][disabled] .input-group-btn .btn.btn-raised.active,fieldset[disabled][disabled] .input-group-btn .btn.btn-raised:active,fieldset[disabled][disabled] .input-group-btn .btn.btn-raised:focus:not(:active) {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-group,.btn-group-vertical {
    position: relative;
    margin: 10px 1px
}

.btn-group-vertical.copy,.btn-group.copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid #efefef
}

.btn-group-vertical.open>.dropdown-toggle.btn,.btn-group-vertical.open>.dropdown-toggle.btn.btn-default,.btn-group.open>.dropdown-toggle.btn,.btn-group.open>.dropdown-toggle.btn.btn-default {
    background-color: #f2f2f2
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-inverse,.btn-group.open>.dropdown-toggle.btn.btn-inverse {
    background-color: #3f51b5
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-primary,.btn-group.open>.dropdown-toggle.btn.btn-primary {
    background-color: #03a9f4
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-secondary,.btn-group.open>.dropdown-toggle.btn.btn-secondary {
    background-color: #e91e63
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-success,.btn-group.open>.dropdown-toggle.btn.btn-success {
    background-color: #4caf50
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-info,.btn-group.open>.dropdown-toggle.btn.btn-info {
    background-color: #00bcd4
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-warning,.btn-group.open>.dropdown-toggle.btn.btn-warning {
    background-color: #ff5722
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-danger,.btn-group.open>.dropdown-toggle.btn.btn-danger {
    background-color: #f44336
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-facebook,.btn-group.open>.dropdown-toggle.btn.btn-facebook {
    background-color: #3b5998
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-twitter,.btn-group.open>.dropdown-toggle.btn.btn-twitter {
    background-color: #55acee
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-instagram,.btn-group.open>.dropdown-toggle.btn.btn-instagram {
    background-color: #3f729b
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-youtube,.btn-group.open>.dropdown-toggle.btn.btn-youtube {
    background-color: #cd201f
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-pinterest,.btn-group.open>.dropdown-toggle.btn.btn-pinterest {
    background-color: #cc2127
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-linkedin,.btn-group.open>.dropdown-toggle.btn.btn-linkedin {
    background-color: #0077b5
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-google,.btn-group.open>.dropdown-toggle.btn.btn-google {
    background-color: #d34836
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-yahoo,.btn-group.open>.dropdown-toggle.btn.btn-yahoo {
    background-color: #400191
}

.btn-group-vertical.open>.dropdown-toggle.btn.btn-whatsapp,.btn-group.open>.dropdown-toggle.btn.btn-whatsapp {
    background-color: #25d366
}

.btn-group .dropdown-menu,.btn-group-vertical .dropdown-menu {
    border-radius: 0 0 2px 2px
}

.btn-group-vertical.btn-group-raised,.btn-group.btn-group-raised {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

.btn-group .btn,.btn-group .btn+.btn,.btn-group .btn-group,.btn-group .btn:active,.btn-group-vertical .btn,.btn-group-vertical .btn+.btn,.btn-group-vertical .btn-group,.btn-group-vertical .btn:active {
    margin: 0
}

.btn.btn-round,.navbar .navbar-nav>li>a.btn.btn-round {
    border-radius: 30px
}

button.close {
    font-size: inherit;
    color: #FFF;
    opacity: .9;
    text-shadow: none
}

button.close i {
    font-size: 20px
}

button.close:focus,button.close:hover {
    color: #FFF;
    opacity: 1
}

.btn.btn-just-icon {
    font-size: 20px;
    padding: 12px 12px;
    line-height: 1em
}

.btn:not(.btn-raised).btn-primary,.input-group-btn .btn:not(.btn-raised).btn-primary {
    color: #03a9f4
}

.btn-block {
    display: block;
    width: 100%;
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
}