#offers-page .nav-tabs {
    color: #333;
    list-style-type: none;
    display: flex;
    position: relative;
    z-index: 10;
    }

#offers-page .nav-item {
    padding: 0 20px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

#offers-page .nav-item + .nav-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #21d4fd;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.index-pricing-details .google-only {
    margin-left: -27px;
    width: 39px;
}

#offers-page .nav-tabs>li.active {
    border-color: transparent;
    background-color: transparent;
}

#offers-page .nav-tabs>li {
    border-width: 0;
    border-style: none;
    margin-bottom: 0;
}

#offers-page .nav-tabs>li>a {
    margin: 0;
    border-radius: 0;
    transition: all 450ms cubic-bezier(.23,1,.32,1) 0s;
}

#offers-page .nav-link h4 {
    
}

#offers-page .price-div .amount {
    font-weight: 700;
    font-size: 500%;
    line-height: 1;
}

#offers-page ul.key-features li {
    padding: 8px 0 8px 10px;
}

#offers-page ul.key-features li i {
    margin-right: 10px;
}

.text-success {
    color: #4caf50;
}

#offers-page .red-strike {
    position: relative;
}

#offers-page .red-strike:after {
    content: '';
    border-bottom: 2px solid red;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

#offers-page .fade.in {
    opacity: 1;
}

#offers-page .fade {
    opacity: 0;
    transition: opacity .15s linear;
}

#offers-page .tab-content>.tab-pane {
    display: none;
}

#offers-page .tab-content>.active {
    display: block;
}

.step-wizard {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-wizard-list{
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #21d4fd;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: #21d4fd;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #21d4fd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.active .progress-count:before,
.active ~ .nav-item .progress-count:before{
    display: none;
}

.active ~ .nav-item .progress-count:after{
    background: #fff;
    border: 2px solid #21d4fd;
}

.active ~ .nav-item .progress-label{
    opacity: 0.5;
}
.active .progress-count:after{
    background: #fff;
    border: 2px solid #21d4fd;
}
