/* Testimonial Slider 1 */

#customer-testimonials{
    height: auto;
    max-height: 2000px;
}

#customer-testimonials .container .text-center{
	padding: 20px ;
}

.review-container{
    position: relative;
    perspective: 1000px;
}

.review-container .title{
    color: rgb(180, 180, 180);
    font-weight: 600;
    font-size: 18px;
}

.review-container .title-name{
    animation-name: titleanim;
    animation-duration: 1s;
}

.review-container .name{
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
}

.wrapper{

}

.review-container .card-main{
    display: none;
}

.review-container .card-main.active{
    display: block;
}

.review-container .card-thumb{
   background: #fff;
   width: 180px;
   position: relative;
   overflow: hidden;
   display: block;
   margin-left: -70px;
   margin-right: 20px;
   padding: 10px;
}

.review-container .client-info{
    animation-name: clientimg;
    animation-duration: 1s;
    animation-direction: linear;
}

.review-container .client-img {
    width: 280px;
    display: block;
    border-radius: 50%;
}

.review-container .client-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 32px;
    text-align: center;
}

.review-container .card-review {
    height: 350px;
    width: 750px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 10px;

}

.card-review .card-body{
    flex: 1;
    height: auto;
    margin-right: 30px;
    position: relative;
    animation-name: cardbody;
    animation-duration: 2s;
}

.review-container .g-logo{
    width: 24px;
    height:  24px;
    margin: 0 10px 0 0;
    border: 0;
}

.review-container .review{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    margin: 30px 0;
    animation-name: reviewanim;
    animation-duration: 1s;
}

.review-container .rating{
    display: flex;
/*    position: absolute;
    bottom: 30px;
    left: 0;*/
    align-items: center;
    animation-name: ratinganim;
    animation-duration: 1s;
    color: rgb(250,222,0);
}

.review-container .rating .material-icons{
    font-size: 35px;
}
.review-container .indicators {
    transform: translateX(-140%);
}

.review-container .indicators button{
    display: block;
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 12px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #545454;
    cursor: pointer;
    transition: .5s;
}

.review-container .indicators button.active{
    height: 30px;
    border-radius: 50px;
    background: #545454;
}

.review-container .indicators-button{
    font-size: 50px;
}

.review-container .indicators-button .prev{

    margin-right: 10px;
}

.review-container .indicators-button .next{
    
   
}

.review-container .indicators-button i{
    color: #9e9e9e;
}

.review-container .indicators-button a {
    cursor:pointer
}

@keyframes titleanim{
    from{
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes clientimg{
    0%{
        opacity: 0;
         transform: scale(0.8);
    }

}

@keyframes cardbody{
    0%{
        opacity: 0;
    };
}

@keyframes reviewanim{

    from{
        opacity: 0;
        transform: translateY(-50%);
    }

}

@keyframes ratinganim{

    from{
        opacity: 0;
        transform: translateY(50%);
    }


}

@media (max-width: 767px) {
    .review-container {
        flex-direction: row;
    }
    .review-container .card-review{
        width: 100%;
        height: auto;
        margin: 0;
        flex-direction: column;
    }

    .review-container .card-thumb{
        width: auto;
        margin: 0;
        margin-top: -50px;
        flex: 1;
    }

    .review-container .client-img{
        width: 250px;
    }

    .review-container .card-body{
       margin-left: 10px;
       margin-right: 20px;
       margin-top: 20px;
    }

    .review-container .rating{
        justify-content: center;
        padding-bottom: 15px;
    }

    .review-container .indicators{
        transform: translate(0, -100%);
    }

    .review-container .indicators button{
        display: inline-block;
        width: 10px;
        height: 15px;
    }

    .review-container .indicators button.active{
        height: 15px;
        width: 30px;
    }

    .review-container .indicators-button{
    font-size: 50px;
    align-self: flex-start;
    z-index: 12;
    margin: 70px -12px 0 -12px;
}
    .review-container .indicators-button .prev{
        margin: 0;
    }

    .review-container .indicators-button:first-child{
    transform: translateX(20px);
    }

    .review-container .indicators-button:last-child{
    transform: translateX(-20px);
    }

}

/* Testimonial Slider 2 */

#customer-testimonials2{
    height: auto;
    max-height: 2000px;
    background: linear-gradient(to bottom, #e91e63,#03a9f4)!important;
}

#customer-testimonials2 .container .text-center{
    padding: 20px ;
}

#customer-testimonials2 .review-container{
    position: relative;
    perspective: 1000px;
}

#customer-testimonials2 .review-container .title{
    color: rgb(180, 180, 180);
    font-weight: 600;
    font-size: 18px;
}

#customer-testimonials2 .review-container .title-name{
    animation-name: titleanim;
    animation-duration: 1s;
}

#customer-testimonials2 .review-container .name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
}

.wrapper{

}

#customer-testimonials2 .review-container .card-main{
    display: none;
    text-align: center;
    color: #fff;
    width: 850px;
}

#customer-testimonials2 .review-container .card-main.active{
    display: block;
}

#customer-testimonials2 .review-container .card-thumb{
   background: none;
   width: 200px;
   position: relative;
   overflow: hidden;
   display: block;
   padding: 10px;
   margin: auto;
}

#customer-testimonials2 .review-container .client-info{
    animation-name: clientimg;
    animation-duration: 1s;
    animation-direction: linear;
}

#customer-testimonials2 .review-container .client-img {
    width: 280px;
    display: block;
    border-radius: 50%;
}

#customer-testimonials2 .review-container .client-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 32px;
    text-align: center;
}

#customer-testimonials2 .review-container .card-review {
    height: 520px;
    width: 500px;
    padding: 20px;
    background-color: transparent;
    margin: auto;

}

#customer-testimonials2 .card-review .card-body{
    flex: 1;
    height: auto;
    margin-right: 0px;
    position: relative;
    animation-name: cardbody;
    animation-duration: 2s;
}

#customer-testimonials2 .review-container .g-logo{
    width: 18px;
    height:  24px;
    margin: 0 10px 0 0;
    border: 0;
}

#customer-testimonials2 .review-container .review{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
    animation-name: reviewanim;
    animation-duration: 1s;
}

#customer-testimonials2 .review-container .rating{
    display: block;
    align-items: center;
    animation-name: ratinganim;
    animation-duration: 1s;
    color: rgb(250,222,0);
}

#customer-testimonials2 .review-container .rating .material-icons{
    font-size: 24px;
}
#customer-testimonials2 .review-container .indicators {
    transform: translateX(-140%);
}

#customer-testimonials2 .review-container .indicators button{
    display: block;
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 12px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #545454;
    cursor: pointer;
    transition: .5s;
}

#customer-testimonials2 .review-container .indicators button.active{
    height: 30px;
    border-radius: 50px;
    background: #545454;
}

#customer-testimonials2 .review-container .indicators-button{
    font-size: 120px;
}

#customer-testimonials2 .review-container .indicators-button .prev{

    margin-right: 10px;
}

#customer-testimonials2 .review-container .indicators-button .next{
    
   
}

#customer-testimonials2 .review-container .indicators-button i{
    color: #fff;
}

#customer-testimonials2 .review-container .indicators-button a {
    cursor:pointer
}

@keyframes titleanim{
    from{
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes clientimg{
    0%{
        opacity: 0;
         transform: scale(0.8);
    }

}

@keyframes cardbody{
    0%{
        opacity: 0;
    };
}

@keyframes reviewanim{

    from{
        opacity: 0;
        transform: translateY(-50%);
    }

}

@keyframes ratinganim{

    from{
        opacity: 0;
        transform: translateY(50%);
    }


}

@media (max-width: 767px) {
    #customer-testimonials2 .review-container {
        flex-direction: row;
    }
    #customer-testimonials2 .review-container .card-review{
        width: 100%;
        height: auto;
        margin: 0;
        flex-direction: column;
    }

    #customer-testimonials2 .review-container .card-thumb{
        width: auto;
        margin: 0;
        margin-top: -50px;
        flex: 1;
    }

    #customer-testimonials2 .review-container .client-img{
        width: 250px;
    }

    #customer-testimonials2 .review-container .card-body{
       margin-left: 10px;
       margin-right: 20px;
       margin-top: 20px;
    }

    #customer-testimonials2 .review-container .rating{
        justify-content: center;
        padding-bottom: 15px;
    }

    #customer-testimonials2 .review-container .indicators{
        transform: translate(0, -100%);
    }

    #customer-testimonials2 .review-container .indicators button{
        display: inline-block;
        width: 10px;
        height: 15px;
    }

    #customer-testimonials2 .review-container .indicators button.active{
        height: 15px;
        width: 30px;
    }

    #customer-testimonials2 .review-container .indicators-button{
    font-size: 50px;
    align-self: flex-start;
    z-index: 12;
    margin: 70px -12px 0 -12px;
}
    #customer-testimonials2 .review-container .indicators-button .prev{
        margin: 0;
    }

    #customer-testimonials2 .review-container .indicators-button:first-child{
    transform: translateX(20px);
    }

    #customer-testimonials2 .review-container .indicators-button:last-child{
    transform: translateX(-20px);
    }

}

/* Testimonial Slider 3 */

#customer-testimonials3{
    height: auto;
    max-height: 2000px;
}

#customer-testimonials3 .container .text-center{
    padding: 20px ;
}

#customer-testimonials3 .review-container{
    position: relative;
    perspective: 1000px;
}

#customer-testimonials3 .review-container .title{
    color: rgb(180, 180, 180);
    font-weight: 600;
    font-size: 18px;
}

#customer-testimonials3 .review-container .title-name{
    animation-name: titleanim;
    animation-duration: 1s;
}

#customer-testimonials3 .review-container .name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
}

.wrapper{

}

#customer-testimonials3 .review-container .card-main{
    display: none;
    text-align: center;
    width: 850px;
}

#customer-testimonials3 .review-container .card-main.active{
    display: block;
}

#customer-testimonials3 .review-container .card-thumb{
   background: none;
   width: 200px;
   position: relative;
   overflow: hidden;
   display: block;
   padding: 10px;
   margin: auto;
}

#customer-testimonials3 .review-container .client-info{
    animation-name: clientimg;
    animation-duration: 1s;
    animation-direction: linear;
}

#customer-testimonials3 .review-container .client-img {
    width: 280px;
    display: block;
    border-radius: 50%;
}

#customer-testimonials3 .review-container .client-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 32px;
    text-align: center;
}

#customer-testimonials3 .review-container .card-review {
    height: 560px;
    width: 500px;
    padding: 20px;
    background-color: transparent;
    margin: auto;

}

#customer-testimonials3 .card-review .card-body{
    flex: 1;
    height: auto;
    margin-right: 0px;
    position: relative;
    animation-name: cardbody;
    animation-duration: 2s;
}

#customer-testimonials3 .review-container .g-logo{
    width: 18px;
    height:  24px;
    margin: 0 10px 0 0;
    border: 0;
}

#customer-testimonials3 .review-container .review{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
    animation-name: reviewanim;
    animation-duration: 1s;
}

#customer-testimonials3 .review-container .rating{
    display: block;
    align-items: center;
    animation-name: ratinganim;
    animation-duration: 1s;
    color: rgb(250,222,0);
}

#customer-testimonials3 .review-container .rating .material-icons{
    font-size: 24px;
}
#customer-testimonials3 .review-container .indicators {
    transform: translateX(-140%);
}

#customer-testimonials3 .review-container .indicators button{
    display: block;
    margin: 10px;
    background: none;
    border: none;
    outline: none;
    width: 12px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #545454;
    cursor: pointer;
    transition: .5s;
}

#customer-testimonials3 .review-container .indicators button.active{
    height: 30px;
    border-radius: 50px;
    background: #545454;
}

#customer-testimonials3 .review-container .indicators-button{
    font-size: 120px;
}

#customer-testimonials3 .review-container .indicators-button .prev{

    margin-right: 10px;
}

#customer-testimonials3 .review-container .indicators-button .next{
    
   
}

#customer-testimonials3 .review-container .indicators-button i{
    color: #9e9e9e;
}

#customer-testimonials3 .review-container .indicators-button a {
    cursor:pointer
}

@keyframes titleanim{
    from{
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes clientimg{
    0%{
        opacity: 0;
         transform: scale(0.8);
    }

}

@keyframes cardbody{
    0%{
        opacity: 0;
    };
}

@keyframes reviewanim{

    from{
        opacity: 0;
        transform: translateY(-50%);
    }

}

@keyframes ratinganim{

    from{
        opacity: 0;
        transform: translateY(50%);
    }


}

@media (max-width: 767px) {
    #customer-testimonials3 .review-container {
        flex-direction: row;
    }
    #customer-testimonials3 .review-container .card-review{
        width: 100%;
        height: auto;
        margin: 0;
        flex-direction: column;
    }

    #customer-testimonials3 .review-container .card-thumb{
        width: auto;
        margin: 0;
        margin-top: -50px;
        flex: 1;
    }

    #customer-testimonials3 .review-container .client-img{
        width: 250px;
    }

    #customer-testimonials3 .review-container .card-body{
       margin-left: 10px;
       margin-right: 20px;
       margin-top: 20px;
    }

    #customer-testimonials3 .review-container .rating{
        justify-content: center;
        padding-bottom: 15px;
    }

    #customer-testimonials3 .review-container .indicators{
        transform: translate(0, -100%);
    }

    #customer-testimonials3 .review-container .indicators button{
        display: inline-block;
        width: 10px;
        height: 15px;
    }

    #customer-testimonials3 .review-container .indicators button.active{
        height: 15px;
        width: 30px;
    }

    #customer-testimonials3 .review-container .indicators-button{
    font-size: 50px;
    align-self: flex-start;
    z-index: 12;
    margin: 70px -12px 0 -12px;
}
    #customer-testimonials3 .review-container .indicators-button .prev{
        margin: 0;
    }

    #customer-testimonials3 .review-container .indicators-button:first-child{
    transform: translateX(20px);
    }

    #customer-testimonials3 .review-container .indicators-button:last-child{
    transform: translateX(-20px);
    }

}